.tweet-card{
    border: 1px solid #cfd9de;
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    max-width: 600px;
    align-items: flex-start;
}
.tweet-avatar img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}
.tweet-header{
    margin-top: 10px;
    margin-bottom: 2px;
}
.tweet-name{
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 4px;
}
.tweet-handle, .tweet-date{
    color: #71767b;
    font-family: sans-serif;
    font-size: 15px;
}
.tweet-message{
    margin-top: 3px;
    color: #0f1419;
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}
.tweet-footer{
    max-width: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tweet-action{
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}
