#ctn1 {
    border: 1px solid black;
    width: 500px;
    height: 20px;
    border-radius: 5px;
    background-color: darkred;
}

#ctn2 {
    height: 20px;
    width: 0;
    border-radius: 5px;
    background-color: green;
    display: flex;
    justify-content: center;
}

#input {
    margin-top: 20px;
    width: 70px;
    border-radius: 5px;
}

#content {
    color: white;
}