form {
    width: 510px;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 8px;
    margin-top: 5px;
    width: 500px;
}

button {
    margin-top: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-decoration: underline;
    margin: 0 auto 5px auto;
}